<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header>
        <h2>Information</h2>
    </header>

    <section>
        <article>
            <div class="head flex">
                <p>{{ file }}</p>
                <a href="/" class="add">&larr;</a>
            </div>
            <div class="body">

                {% for line in content %}
                    <p>{{ line }} </p>
                {% endfor %}
                

            </div>
        </article>
    </section>
    
</body>
</html>